<odoo>
    <data>
        <!-- Menú de Nivel 1 -->
        <menuitem id="menu_biblioteca_level_1"
                  name="Biblioteca"
                  sequence="1"/> <!-- para que salga la PANTALLA INICIO-->

        <!-- Menú de Nivel 2 -->
        <menuitem id="menu_abogado_level_2"
                  name="Gestión de devoluciones"
                  parent="menu_biblioteca_level_1"
                  action="devolucion_action_window"
                  sequence="1"/>
        
       
    </data>
</odoo>
